@media all and (min-width: 480px) {

    .App{
      height: 100%;
      width: ;
    }
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    
 
    .header{
      top: 0%;
      left: 0%;
      padding: 5px;
      background-color: cadetblue;
      color: white;
      height: 60px;
      width: 100%;
      text-align: center;
    }
  }
  